<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava Wrapped</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        #strava-wrapped {
            font-size: 24px;
            margin-bottom: 20px;
        }

        #login-button {
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
            color: #fff;
            background-color: #4285f4;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="strava-wrapped">Strava Wrapped</div>
    {% if 'access_token' in session %}
        
        {% include 'dashboard.html' %}
    {% else %}
        <a href="{{ login_url }}" id="login-button">Login with Strava</a>
    {% endif %}
    <!-- Your other content goes here -->
</body>
</html>