<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .btn-strava {
            background-color: #fc4c02;
            color: #fff;
            border-color: #fc4c02;
        }
    </style>
</head>

<body>

    <!-- Login Button with Strava Branding -->
    <a href="{{ login_url }}" id="login-button" class="btn btn-strava btn-lg mt-2">
        <img src="static/strava.png" alt="Strava Logo" class="mr-2" style="height: 20px;">
        Connect your Strava
    </a>

    <!-- Card with Image -->
    <div class="card mt-4" style="width: 18rem;">
        <img src="static/templatephoto.png" class="card-img-top" alt="Card Image">
        <div class="card-body">
            <h5 class="card-title">Sample Recap</h5>
            <p class="card-text"></p>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>